.logfield{
    background-color: #000000;
    padding: 10px;
    width: 30%;
    margin:auto;
    margin-top:8%;
}

.logfield label{
    font-size: 1.3vw;
    margin-left: 40px;
    margin: 40px;
}
.logfield input{
    width:80%;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
    padding:5px;
    margin-bottom: 20px;
}
.logfield h1{
    color: #ffffff;
    font-size: 4vw;
    margin-left: 40px;
}
.confirm{
    background-color: #000000;
    padding: 10px;
    width: 50%;
    margin:auto;
    margin-top:8%;
}
.confirm h1{
    color: #ffffff;
    font-size: 4vw;
    margin-left: 40px;
}
.ouroffer h1{
    font-size: 4vw;
    margin-left: 30%;
}
.ouroffer{
    padding: 10px;
    width: 50%;
    margin:auto;
    margin-top:8%;
}
.logotype{
    margin-left: 20%;
    margin-top: 5%;
}
#user {
    margin-top: 10px;
}
#imie{
    margin-top: 10px;

}
.login_button {
    background-color: #ffffff; 
    margin-bottom: 20px;
    margin-top:10px;
    border-radius: 0;
    padding:15px 25px;

}
.login_button a{
    color: #000000; 
}
.login_button:hover {
    background-color: rgb(192, 187, 187);
}
.forget_button{
    border-radius: 0;
    margin-left: 5%;
    padding:15px 25px;

}
#bottom_bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    margin: auto;
    left: 0px;
    top: 8%;
}

.register{
    background-color: #ffffff;
    margin-right:1%;
    margin-left: 1%;
}
.register a{
    color: #000000;
}
@media screen and (max-width: 1300px) {
    .logfield {
      width: 80%;
    }